<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" 
    href="{{ url_for('static', filename='css/book.css') }}">
  <title>Add book</title>
</head>
<body>
  <form action="/added_book" method="post">
    
    <label>Book Id</label>
    <input type="text" name="id" required><br><br>
    <label>Name</label>
    <input type="text" name="name" required><br><br>
    <label for="Genre">Choose Genre</label>
    <select name="Genre" >
      <option value="1">History</option>
      <option value="2">Mathematics</option>
      <option value="3">Biology</option>
      <option value="4">Psychology</option>
      <option value="5">Literature</option>
    </select>
    <input type="submit"><br><br>
  </form>  

</body>