<html>
    <head>
        <link rel="stylesheet" 
        href="{{ url_for('static', filename='css/lib.css') }}"> 
    </head>
    <body>
        <div class="background">

            <h1 style="color:white"class="back"><b>LIBRARY MANAGEMENT <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SYSTEM</b></h1>
        <form >
            <div class="pad">
            <button class="butto" formaction="/alogin">ADMIN</button>
            <br>
            <br>
            <button class="butto" formaction="/slogin" >USER</button>
            <br>
            <br>
        </div>
            </form>
        </form>    
        </div>
    </body>
</html>