<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" 
    href="{{ url_for('static', filename='css/xxxx.css') }}">
  <title>USER</title>
</head>
<body>
    <section>
        <div class="form-box d-flex flex-column justify-content-end">
            <div class="form-value">
                <form action="/student" method="post">
                    <h2>Login</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" required name="user">
                        <label for="">Email</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" required name="pass"> 
                        <label for="">Password</label>
                    </div>
                    <div class="forget">
                        <label for=""><input type="checkbox">Remember Me  <a href="#">Forget Password</a></label>
                      
                    </div>
                    <button>Log in</button>
                    <div class="register">
                        <p>Don't have a account <a href="{{ url_for('add_student') }}">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>

</body>
</html>